<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.domain.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_psw" property="userPsw" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_company" property="userCompany" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="user_monile" property="userMonile" jdbcType="VARCHAR" />
    <result column="user_post" property="userPost" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_code, user_psw, user_name, user_company, department_id, user_mail, 
    user_monile, user_post, user_status, create_id, create_time, update_id, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pmis_user_tab
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pmis_user_tab
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.neusoft.domain.User" >
    insert into pmis_user_tab (user_id, user_code, user_psw, 
      user_name, user_company, department_id, 
      user_mail, user_monile, user_post, 
      user_status, create_id, create_time, 
      update_id, last_update_time)
    values (#{userId,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{userPsw,jdbcType=CHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{userMail,jdbcType=VARCHAR}, #{userMonile,jdbcType=VARCHAR}, #{userPost,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateId,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.domain.User" >
    insert into pmis_user_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userPsw != null" >
        user_psw,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userCompany != null" >
        user_company,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="userMail != null" >
        user_mail,
      </if>
      <if test="userMonile != null" >
        user_monile,
      </if>
      <if test="userPost != null" >
        user_post,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPsw != null" >
        #{userPsw,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userMonile != null" >
        #{userMonile,jdbcType=VARCHAR},
      </if>
      <if test="userPost != null" >
        #{userPost,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.domain.User" >
    update pmis_user_tab
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPsw != null" >
        user_psw = #{userPsw,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        user_company = #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userMonile != null" >
        user_monile = #{userMonile,jdbcType=VARCHAR},
      </if>
      <if test="userPost != null" >
        user_post = #{userPost,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.domain.User" >
    update pmis_user_tab
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_psw = #{userPsw,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_company = #{userCompany,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      user_monile = #{userMonile,jdbcType=VARCHAR},
      user_post = #{userPost,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>